---
---

.background {
  position: relative;
  background: var(--background);
  color: var(--text);
  z-index: 1;
}

.background:before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--image);
  background-size: auto 1000px;
  background-repeat: no-repeat;
  background-position: 50% 60%;
  opacity: 0.4;
  z-index: -1;
}
